[Unit]
Description=Advanced Linux Sound Architecture

[Service]
RemainAfterExit=yes
ExecStart=/etc/init.d/alsasound start
ExecStop=/etc/init.d/alsasound stop

[Install]
WantedBy=multi-user.target
