[Unit]
Description=Linux Volume Manager
DefaultDependencies=no
Before=shutdown.target local-fs.target
After=init-openrc.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/lvm start
ExecStop=/etc/init.d/lvm stop

[Install]
WantedBy=local-fs.target
