[Unit]
Description=OpenRC Initialization
DefaultDependencies=no
After=remount-rootfs.service
Before=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=RC_LIBEXECDIR=/lib/rc
ExecStartPre=-/lib/rc/sh/init.sh
ExecStart=-/bin/mkdir -p /lib/rc/init.d/start
ExecStart=-/bin/mkdir -p /lib/rc/init.d/starting
ExecStart=-/bin/mkdir -p /lib/rc/init.d/started
ExecStart=-/bin/mkdir -p /lib/rc/init.d/stop
ExecStart=-/bin/mkdir -p /lib/rc/init.d/stopping
ExecStart=-/bin/mkdir -p /lib/rc/init.d/options
ExecStart=-/bin/mkdir -p /lib/rc/init.d/daemons
ExecStart=-/bin/mkdir -p /lib/rc/init.d/tmp
ExecStart=-/bin/mkdir -p /lib/rc/init.d/failed
ExecStart=-/bin/mkdir -p /lib/rc/init.d/inactive
ExecStart=-/bin/mkdir -p /lib/rc/init.d/wasinactive
ExecStart=-/bin/mkdir -p /lib/rc/init.d/exclusive
ExecStart=-/bin/mkdir -p /lib/rc/init.d/hotplugged
ExecStart=-/bin/mkdir -p /lib/rc/init.d/scheduled
ExecStart=-/bin/ln -s /etc/init.d/localmount /lib/rc/init.d/started
ExecStart=-/bin/ln -s /etc/init.d/fsck /lib/rc/init.d/started

[Install]
WantedBy=multi-user.target
