[Unit]
Description=Gnome Display Manager
After=hald.service

[Service]
Type=simple
ExecStart=/usr/bin/gdm -nodaemon
ExecStop=/usr/sbin/gdm-stop

[Install]
Alias=display-manager.service
WantedBy=graphical.target
